/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Actual css*/

html {
  height: 100%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
body {
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #40a1ff;
  color: #fefefe;
  font-family: "ubuntu-mono", sans-serif;
}

h1 {
  font-size: 60px;
  font-size: 4.4em;
  margin: 15px 0;
  white-space-collapsing: discard;
}

h2 {
  font-size: 23px;
  font-size: 1.7em;
  margin: 5px 0;
  line-height: 1.3em;
}

.left-center-content {
  width: 500px;
  position: relative;
  top: 20%;
  margin: 0 auto;
  text-align: center;
}

.typed-cursor{
  display: inline-block;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}



@media only screen and (max-width: 767px) {

  .left-center-content {
    width: 400px;
  }

  h1 {
    font-size: 3.4em;
  }

  h2 {
    font-size: 1.3em;
  }

}
